<div class="container">
	<div class="jumbotron center">
		<h1>Welcome to AlphaEx</h1>
		<h3>The future of blogging</h3>
	</div>
</div>



<div class row>
<div class="container">
        <div class="text-center">
            <div class="col-md-12">
                <h2>Choose your plan</h2>
            </div>
            <div class="col-md-6" style="margin-top: 20px;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing">
                            <h1 class="panel-title panel-title-landing">
                                Basic
                            </h1>
                        </div>
                        <div class="controle-panel-heading panel-heading panel-heading-landing-box">
                            Good Choice
                        </div>
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td>1 account</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td>5 Threads</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td>Limitations</td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <a href="#" class="btn btn-price btn-success btn-lg">SELECT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="verticalLine">
 			 
		</div>

        <div class="text-center">
            <div class="col-md-6" style="margin-top: 20px;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="controle-header panel-heading panel-heading-landing">
                            <h1 class="panel-title panel-title-landing">
                                Premium
                            </h1>
                        </div>
                        <div class="controle-panel-heading panel-heading panel-heading-landing-box">
                            Best Choice
                        </div>
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td>30+ Accounts</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td>150+ Threads</td>
                                </tr>
                                <tr>
                                    <td width="50px"><i class="fa fa-check"></i></td>
                                    <td>Unlimited</td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer panel-footer-landing">
                            <a href="#" class="btn btn-price btn-success btn-lg">SELECT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>







<div class="container">
	<div class="row">
	    <div class="col-md-12" data-wow-delay="0.2s">
	        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
	            <!-- Bottom Carousel Indicators -->
	            <ol class="carousel-indicators">
	                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://i.imgur.com/nD4eQlM.jpg" alt="">
	                </li>
	                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://i.imgur.com/K6fv0px.jpg" alt="">
	                </li>
	                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://i.imgur.com/YPLLVsB.jpg" alt="">
	                </li>
	            </ol>

	            <!-- Carousel Slides / Quotes -->
	            <div class="carousel-inner text-center">

	                <!-- Quote 1 -->
	                <div class="item active">
	                    <blockquote>
	                        <div class="row">
	                            <div class="col-sm-8 col-sm-offset-2">

	                                <p>Infuse your life with action. Don't wait for it to happen. Make it happen. Make your own future. Make your own hope. Make your own love. And whatever your beliefs, honor your creator, not by passively waiting for grace to come down from upon high, but by doing what you can to make grace happen... yourself, right now, right down here on Earth. </p>
	                                <small>Kaleem Qasim</small>
	                            </div>
	                        </div>
	                    </blockquote>
	                </div>
	                <!-- Quote 2 -->
	                <div class="item">
	                    <blockquote>
	                        <div class="row">
	                            <div class="col-sm-8 col-sm-offset-2">

	                                <p>Consult not your fears but your hopes and your dreams. Think not about your frustrations, but about your unfulfilled potential. Concern yourself not with what you tried and failed in, but with what it is still possible for you to do.</p>
	                                <small>Ahmed Riaz</small>
	                            </div>
	                        </div>
	                    </blockquote>
	                </div>
	                <!-- Quote 3 -->
	                <div class="item">
	                    <blockquote>
	                        <div class="row">
	                            <div class="col-sm-8 col-sm-offset-2">

	                                <p>Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be successful or happy.</p>
	                                <small>Ali Azwer</small>
	                            </div>
	                        </div>
	                    </blockquote>
	                </div>
	            </div>

	            <!-- Carousel Buttons Next/Prev -->
	            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
	            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
	        </div>
	    </div>
	</div>
	</div>